.banner {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
}

.logo {
  height: 25px; 
  margin-right: 12px;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: black; 
}
